fastembed
python-dotenv
qdrant-client
sentence-transformers
groq
streamlit
pydantic-ai
pymongo[srv]
nest_asyncio
bcrypt
torch
torchvision
certifi
dnspython
plotly
pandas
google-genai
genai-prices==0.0.26
